extends layout
block header
  script(src="/js/index.js")
  script(src="/js/hangul.min.js")

block content
  .container
    section.header
      h1.title= title 
      p      
      .row
        .one-half.column
          button.button-primary(id="init" value="1") LOAD DATA(정의란 무엇인가)
          p
          button.button-primary(id="init" value="2") LOAD DATA(어린왕자)
          p
          button.button-primary(id="init" value="3") LOAD DATA(카프카-변신)
          p
          button.button-secondary(id="initSong" value="4") LOAD DATA(Private Test)
          p
           .row        
            .seven.columns
               label(for="pattern") AUTO COMPLETE WITH JAMO and CHOSUNG serarch
               input.u-full-width(type="text" id="chosung")   
          p
           .row        
            .seven.columns
               label(for="pattern") song search test
               input.u-full-width(type="text" id="songSearch")                  

        .one-half.column 
           label(for="history") RESULT
           ul(id='result')
        
    

