doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(src="/js/jquery-2.2.3.min.js")
    script(src="/js/jquery-ui.min.js")
    block header
  body
    block content
